<h1>My bookings</h1>

<div class="container">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title"><%= @booking.life.title %></h2>
      <p class="card-text"><%= @booking.life.description %></p>
      <p class="card-text"><%= @booking.life.price %>$</p>
      <p>From <%= @booking.start_date %> to <%= @booking.end_date %></p>
      <p>Status: <%= @booking.status %></p>
      <% if @booking.pending? %>
        <%= link_to 'Change dates', edit_booking_path(@booking), class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
<%= link_to "Back", bookings_path %>
