<h1>My bookings</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title"><%= @booking.life.title %></h2>
          <p class="card-text"><%= @booking.life.description %></p>
          <p class="card-text"><%= @booking.life.price %>$</p>
          <p>From <%= @booking.start_date %> to <%= @booking.end_date %></p>
          <p>Status: <%= @booking.status %></p>
          <% if @booking.pending? %>
            <%= link_to 'Change dates', edit_booking_path(@booking), class: 'btn btn-primary' %>
          <% end %>

          <% if @booking.life.user == current_user %>
            <%= link_to 'Cancel booking', booking_path(@booking), method: 'delete', data: { confirm: "Are you sure you want to cancel this booking?" } %>
          <% end %>
        </div>
      </div>
    </div>
    <%= link_to "Back", bookings_path %>
  </div>
</div>
