<%= link_to "Back", life_bookings_path %>

<h1>#Show view - Bookings Controller</h1>

<p>Here, I can see informations about a chosen booking</p>

  <p>Dates : From <%= @booking.start_date %> to <%= @booking.end_date %></p>
  <p>Status :<%= @booking.status %></p>
<ul>
  <li><%= @life.title %></li>
  <li><%= @life.description %></li>
  <li><%= @life.price %></li>
</ul>
