<div class="navbar navbar-expand-sm navbar-light navbar-lewagon bg-white">

    <div class="container d-flex justify-content-between">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "https://img.myloview.fr/images/grunge-circle-brush-stroke-isolated-on-white-backgrou[…]e-circle-hand-drawn-paintbrush-shape-vector-700-215222526.jpg" %>
      <% end %>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <%= link_to "Home", lives_path, class: "nav-link pe-4" %>
          <% if user_signed_in? %>
            <li class="nav-item dropdown">

              <p class="dropdown-toggle nav-link mb-0" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Menu </p>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <%= link_to 'Share a life', new_life_path, class: 'dropdown-item' %>
                <%= link_to "My requests", requests_path, class: "dropdown-item" %>
                <%= link_to "My bookings", bookings_path, class: "dropdown-item" %>
                <%= link_to "My lives", my_lives_path, class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>
            </li>
          <% else %>
            <li class="nav-item"-->
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li-->
          <% end %>
        </ul>
      </div>
    </div>

</div>
