<div class="container py-5">
  <h1> Edit this life</h1>
  <div class="row justify-content-center">
    <div class="card booking-card col-6">
      <%= simple_form_for(@life) do |f| %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :address %>
        <%= f.input :price, as: :string %>
        <%= f.input :photo, as: :file %>
        <%= f.button :submit, value: 'Update life', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
