<div class="container">
  <h1>All Lives</h1>

  <div class="cards mt-3">
    <% @lives.each do |life| %>
      <div class="simple-card">
        <img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-2.jpg" class="img img-responsive">
        <div class="simple-card-name"><%= link_to life.title, life_path(life) %></div>
        <div class="simple-card-username">@<%= life.user.fullname %> </div>
        <div class="simple-card-description"><%= life.description %></div>
        <div class="simple-card-price-and-btn">
          <div class="simple-card-price"><%= life.price %></div>
          <div class="simple-card-btn">
            <%= link_to "Details", life_path(life), class: "btn btn-primary" %>
          </div>
      </div>
</div>

    <% end %>
  </div>
</div>
