<div class="container">
  <h1>All Lives</h1>

<<<<<<< HEAD
  <%= form_tag lives_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a life"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
=======
  <div class="map" data-controller="mapbox" data-mapbox-markers-value="<%= @markers.to_json %>" data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
>>>>>>> main

  <div class="cards mt-3">
    <% @lives.each do |life| %>
      <div class="simple-card">
        <% if life.photo.key %>
          <img src=<%= cl_image_path life.photo.key %> class="img img-responsive">
        <% else %>
          <div class="img img-responsive no-photo"></div>
        <% end %>
        <div class="simple-card-name"><%= link_to life.title, life_path(life) %></div>
        <div class="simple-card-username">@<%= life.user.fullname %> </div>
        <div class="simple-card-description"><%= life.description %></div>
        <div class="simple-card-price-and-btn">
          <div class="simple-card-price"><%= life.price %></div>
          <div class="simple-card-btn">
            <%= link_to "Details", life_path(life), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
