<div class="container">
  <h1>Share a life</h1>
  <div class="row justify-content-center">
    <div class="card booking-card col-6 p-3">
      <%= simple_form_for(@life) do |f| %>
        <%= f.input :title %>
        <%= f.input :description  %>
        <%= f.input :price %>
        <%= f.input :photo, as: :file %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
