<div class="container py-5">
  <h2>Share your life</h2>
  <div class="row justify-content-center">
    <div class="col-6 p-3">
      <%= simple_form_for(@life) do |f| %>
        <%= f.input :title %>
        <%= f.input :description  %>
        <%= f.input :price_cents %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
