<div class="container py-5">
  <h1>Life details</h1>

    <div class="projcard-container">
      <div class="projcard projcard-blue">
        <div class="projcard-innerbox">
          <img class="projcard-img" src="<%= cl_image_path @life.photo.key %>">
          <div class="projcard-textbox">
            <div class="projcard-title"><%= @life.title %></div>
            <div class="projcard-subtitle">by <%= @life.user.fullname %></div>
            <div class="projcard-bar"></div>
              <div class="projcard-description">
                <div>
                  <%= @life.description %>
                </div>
                <div>
                  <%= @life.address %>
                </div>
              </div>
              <div class="projcard-tagbox">
                <div class="projcard-tag"><%= @life.price %>$</div>
              </div>
              <div class="book-edit-btn">
                <% if @life.user == current_user %>
                  <%= link_to 'Edit', edit_life_path(@life), class: "btn btn-warning" %>
                <% else %>
                  <%= link_to 'Book this life', new_life_booking_path(@life), class: "btn btn-warning" %>
                <% end %>
              </div>
            <
          </div>
        </div>
      </div>
    </div>

 <div class="container">
    <h2 class='text-start'> Other lives by <%= @life.user.fullname %></h2>
    <div class= "container">
      <div class= "cards mt-3 d-flex justify-content-around">
        <% @life.user.lives.sample(3).each do |life| %>
          <%= render 'simplecard', life: life %>
        <% end %>
      </div>
  <div class="back-button btn btn-primary"><%= link_to 'Back', lives_path %></div>

</div>
