<div class="container">
  <h1>Life details</h1>
  <div class="cards">
    <div class="card p-3">
      <div class="card-body">
        <h2 class="card-title"><%= @life.title %></h2>
        <% begin %>
          <%= cl_image_tag @life.photo.key, height: 300, width: 400, crop: :fill %>
        <% rescue %>
        <% end %>
        <p><%= @life.description %></p>
        <p><%= @life.price %>$</p>

        <% if @life.user == current_user %>
          <%= link_to 'Edit', edit_life_path(@life), class: 'btn btn-primary' %>
        <% else %>
          <%= link_to 'Book this life', new_life_booking_path(@life), class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>

  </div>
    <%= link_to 'Back', lives_path %>
</div>
