<h1>Show : <%= @life.title %> </h1>

<div>
  <h2><%= @life.title %></h2>
  <p><%= @life.description %></p>
  <p><%= @life.price %></p>
</div>

<% if @life.user == current_user %>
  <%= link_to 'Edit', edit_life_path(@life) %>
<% end %>

<%= link_to 'Back', lives_path %>
