<!DOCTYPE html>
<html>
  <head>
    <title>RentALife</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/8dbd947086.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= yield %>
    <%= render "shared/footer" %>

    <% if notice %>
      <div class="notice-msg">
        <div class="notice">
          <p><%= notice %></p>
          <a href="#"><i class="fa-solid fa-x"></i></a>
        </div>
      </div>
    <% end %>

    <% if alert %>
      <p class="alert alert-info"><%= alert %></p>
    <% end %>
  </body>
</html>
